<div class="col-md-12">
    <md-grid-list  cols="5" rowHeight="50px" id="service-div">     
        <md-grid-tile   [colspan]="5" [rowspan]="1"  >
            <md-grid-tile-header class="blue_bg" > 
                <div class="contact">services</div> 
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile  [colspan]="1" [rowspan]="2" *ngFor="let serviceInfo  of services">
            <a  class="profile-spot no-border" (click) = "showService(serviceInfo)" >
               <i class="material-icons img">{{serviceInfo.icon}}</i> 
           </a>
        </md-grid-tile>
        <md-grid-tile  [colspan]="5" [rowspan]="6"  >  
            <div *ngFor="let serviceInfo  of services" [@visibilityChanged]="service.id == serviceInfo.id">
                <div class="service_title" *ngIf="service.id == serviceInfo.id" >
                    <p>{{service.name}}</p>
                </div>
                <a  class="profile-spot no-border" *ngIf="service.id == serviceInfo.id" (click)="showServiceDetails(!showServiceInfo)">                    
                    <i class="material-icons img dark_blue">{{service.icon}}</i> 
                </a>
                <p class="service_info" *ngIf="service.id == serviceInfo.id" [@visibilityChanged]="service.id == serviceInfo.id && showServiceInfo">{{service.description}}</p>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>
