<div class="col-md-12 accent">
    <md-grid-list  cols="6" rowHeight="200px">     
        <md-grid-tile id="custom-div" class="md-elevation-z8" *ngFor="let person of persons" [colspan]="3" [rowspan]="2" >
                      <div class="page_title">{{ person.firstName }} {{ person.lastName }}</div>                           
            <div  class="" [@visibilityChanged]="(personId == person.id && (teamPage | async)  == page.Personal ) 
                  || (personId != person.id && (person.page == page.Personal || person.page == null ))">
                  <a  class="profile-spot no-border" (click)="changeTeamPage(page.About, person)">
                <img  src="{{person.photo}}" class="img" />
                </a>
                <p class="team_info"> "{{person.moto}}"</p>
            </div>
            <div class="top_section" [@visibilityChanged]="(personId == person.id && (teamPage | async)  == page.About ) 
                 || (personId != person.id && (person.page == page.About))">
                 <a  class="profile-spot middle no-border" (click)="changeTeamPage(page.Personal, person)">
                <img  src="{{person.photo}}" class="img" /> 
                </a>
                <div class="col-md-12 team_info">
                    <p class="col-md-12"> {{person.intro}}</p>
                    <p class="col-md-12" *ngIf="person.intro1"> {{person.intro1}}</p>
                    <p class="col-md-12"> {{person.languages}}</p>                
                    <p class="col-md-12"> {{person.work}} <a target="{{person.target}}" href="{{person.company_link}}"> {{person.company}}</a></p>
                    <p class="col-md-12"> {{person.work1}} <a target="{{person.target1}}" href="{{person.company_link1}}"> {{person.company1}}</a></p>
                </div>

            </div>
            <div  class="top_section"  [@visibilityChanged]="(personId == person.id && (teamPage | async)  == page.Skills) 
                  || (personId != person.id && person.page == page.Skills)"  >
                  <p class="title">Skills</p>
                <div *ngFor="let skill of person.skills" class="badge"> 
                    {{skill.name}}
            </div>
            <div *ngFor="let db of person.databases" class="badge"> 
                {{db.name}}
        </div>                
        <div *ngFor="let framework of person.frameworks" class="badge"> 
            {{framework.name}}
    </div>
    <div *ngFor="let design of person.design" class="badge"> 
        {{design.name}}
</div>
<div *ngFor="let protocol of person.protocols" class="badge"> 
    {{protocol.name}}
</div>
<div *ngFor="let paradigm of person.paradigms" class="badge"> 
    {{paradigm.name}}
</div>                
<div *ngFor="let build of person.build" class="badge"> 
    {{build.name}}
</div>
<div *ngFor="let ide of person.ide" class="badge"> 
    {{ide.name}}
</div>
<div *ngFor="let server of person.servers" class="badge"> 
    {{server.name}}
</div>
<div *ngFor="let os of person.os" class="badge"> 
    {{os.name}}
</div>
<!--<md-slider value="88" disabled></md-slider>-->
<!--       <md-progress-circle mode="determinate" value="60"></md-progress-circle>-->
</div>
<div  class="top_section"  [@visibilityChanged]="(personId == person.id && (teamPage | async)  == page.Contact) 
      || (personId != person.id && person.page == page.Contact)"  >
      <p class="title">Contact me @</p>
    <div class="col-md-12">
        <div class="badge email">
            <span class="middle-align"> {{person.email}}</span>
        </div>
    </div>
    <!--                <div class="badge">
                        <a href="http://twitter.com/twinsoft" target="_blank"><md-icon svgIcon="twitter"></md-icon></a>
                    </div>-->
    <div class="col-md-12">
        <div class="badge">
            <a href="{{person.linkedin}}" target="_blank"><md-icon svgIcon="linkedin"></md-icon></a>
        </div>
    </div>
</div>
<md-grid-tile-footer class="blue_bg">
    <div class="col-md-2">
        <button md-mini-fab class="black_bg" [ngClass]="{'white_active': (personId == person.id && ((teamPage | async)  == page.Personal  || (teamPage | async)  == page.About )) 
                || (personId != person.id && (person.page == page.Personal || person.page == null || person.page == About ))}" (click)="changeTeamPage(page.Personal, person)">
                <i class="material-icons">person_pin</i>                            
        </button> 
    </div>
    <div class="col-md-2">
        <button md-mini-fab class="black_bg" [ngClass]="{'white_active':  (personId == person.id && (teamPage | async)  == page.Skills ) 
                || (personId != person.id && person.page == page.Skills )}" (click)="changeTeamPage(page.Skills, person)">
                <i class="material-icons">school</i>                            
        </button> 
    </div>
    <div class="col-md-2">
        <button md-mini-fab class="black_bg" [ngClass]="{'white_active': (personId == person.id && (teamPage | async)  == page.Contact) 
                || (personId != person.id && person.page == page.Contact )}" (click)="changeTeamPage(page.Contact, person)">
                <i class="material-icons">contact_mail</i>                            
        </button> 
    </div>
</md-grid-tile-footer>
</md-grid-tile>  
</md-grid-list>     
</div>
