.company_info {
    margin: 40px auto;
    z-index: 6;
    /*color: #4A4949;*/
    /*color: rgb(33, 121, 181) !important;*/
    color: rgb(33, 121, 181);
    /*    background: #E6EE9C !important;*/
    /*background: #fff;*/
    border: 1px solid rgb(33, 121, 181);
    background-color: rgba(255, 255, 255, 0.8) !important;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 20px;
    /*    background: #fff;*/
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}
.title {    
/*    width: 300px;*/
    display: inline-block;
    height: 20px;
    z-index: 6;
    /*    color: #E6EE9C;*/
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3;
    font-size: 10px;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 20px;
    color: rgb(33, 121, 181);
    border: 1px solid rgb(33, 121, 181);
    background-color: rgba(255, 255, 255, 0.8) !important;
    line-height: 1;
    cursor: pointer;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}
.top_section {
    position:absolute;
    top:25%;
    left:10%;
    right:10%;
}
.page_title {
    position: absolute;
    top: 30px;
    left: 38%;
    right: 38%;
    z-index: 6;
    /*color: rgb(33, 121, 181);*/
    /*    color: #fff;*/
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    padding: 5px 15px;
    border-radius: 20px;
    color: rgb(33, 121, 181);
    border: 1px solid rgb(33, 121, 181);
    background-color: rgba(255, 255, 255, 0.8) !important;
    /*  background: rgb(33, 121, 181);*/
    /*background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);*/
    /*  background: #E6EE9C; */
    line-height: 1;
    cursor: pointer;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}
.profile-spot .img,.profile-spot:before{
    top:25%;   
}